#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_iCambaCoind += debian/examples/*
DEB_INSTALL_MANPAGES_iCambaCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix iCambaCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f iCambaCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake iCambaCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/iCambaCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/iCambaCoind
binary-post-install/iCambaCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/iCambaCoin-qt
